# 證券交易所 TWSE

In [60]:
import requests
import pandas as pd
from datetime import datetime

today = datetime.now().strftime("%Y%m%d")
stock_id = "2330"
url = f"https://www.twse.com.tw/rwd/zh/afterTrading/STOCK_DAY?date={today}&stockNo={stock_id}&response=json"
response = requests.get(url)
data = response.json()

df = pd.DataFrame(data["data"], columns=data["fields"])
df

,日期,成交股數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,成交筆數
0,113/09/02,"19,272,593","18,270,058,260",950.00,955.00,943.00,948.00,+4.00,"31,642"
1,113/09/03,"23,205,623","21,908,471,541",948.00,952.00,939.00,940.00,-8.00,"47,139"
2,113/09/04,"93,169,835","83,424,133,824",894.00,905.00,888.00,889.00,-51.00,"393,210"
3,113/09/05,"34,147,890","30,998,595,394",907.00,915.00,900.00,902.00,+13.00,"63,902"
4,113/09/06,"28,248,063","25,786,016,936",909.00,918.00,903.00,918.00,+16.00,"38,415"
5,113/09/09,"38,448,946","34,456,838,126",892.00,900.00,891.00,899.00,-19.00,"102,365"
6,113/09/10,"34,312,646","31,067,424,234",907.00,911.00,901.00,904.00,+5.00,"45,141"
7,113/09/11,"19,513,256","17,621,000,956",906.00,906.00,900.00,901.00,-3.00,"30,789"
8,113/09/12,"43,749,260","40,999,951,508",936.00,944.00,928.00,940.00,X0.00,"80,643"
9,113/09/13,"28,307,441","26,795,862,243",955.00,955.00,939.00,947.00,+7.00,"39,071"
10,113/09/16,"14,456,888","13,692,259,575",952.00,952.00,943.00,947.00,0.00,"26,421"
11,113/09/18,"30,094,662","28,303,054,525",945.00,948.00,933.00,941.00,-6.00,"46,622"
12,113/09/19,"34,537,383","32,797,033,865",940.00,960.00,936.00,960.00,+19.00,"53,488"

# Yahoo

In [61]:
import bs4

stock_id = "2330"
url = f"https://tw.stock.yahoo.com/quote/{stock_id}.TW"
response = requests.get(url)
soup = bs4.BeautifulSoup(response.text, "html.parser")

price = soup.find_all("span", class_="Fw(600)")
columns = ["股票代號", "成交", "開盤", "最高", "最低", "均價", "成交金額(億)", "昨收", "漲跌幅", "漲跌", "總量", "昨量", "振幅"]

price_text = [p.text for p in price[:len(columns) - 1]]
data = [stock_id] + price_text

df = pd.DataFrame([data], columns=columns)
df

,股票代號,成交,開盤,最高,最低,均價,成交金額(億),昨收,漲跌幅,漲跌,總量,昨量,振幅
0,2330,960,940,960,936,949,310.27,941,2.02%,19.00,"32,674","28,394",2.55%